html {
    background: linear-gradient(180deg, rgba(248, 177, 22, 0.308), rgb(92, 63, 13)) fixed;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 5em;
    position: relative;
    margin: 0px;
    box-sizing: border-box;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    text-align: center;
    font-size: 50px;
    color: rgb(88, 70, 10);
}

#pizzaImg , #shrimpImg , #cheesecakeImg , #caramelImg{
    width: 20vw;
    height: 20vw;
    padding: 10px;
    border-radius: 25%;
    border: 0.9em double white;
    /* background: linear-gradient(to bottom, white,  rgb(112, 82, 15)); */
}

#pizzaImg:hover, #shrimpImg:hover, #cheesecakeImg:hover, #caramelImg:hover {
    width: 15em;
    height: 15em;
}